<header>
  <img src="assets/perfil.png " alt="perfil" width="130px" height="130px" loading="eager">

  <h1>Lucas </h1>

</header>

<aside>
  <div class="container">
    <p>Full-Stack JavaScript | Angular | Node.Js | Nest.Js</p>
    <p>MAceió, Alagoas, Brasil</p>
    <p>Estou na área de software a 2 anos.</p>

    <nav>
      <ul>
        <li>
          <a href="#" target="_blank" class="btn btn-primary"> Dowload Cv</a>
        </li>
        <li>
          <a href="#" target="_blank" class="btn btn-secondary"> LinkedIn </a>
        </li>

      </ul>
    </nav>

    <section>
      <figure>
        <img src="../../assets/perfil.png" alt="Icone para contato wpp" width="22px" height="22px">
        <figcaption>
          <a href="#">
            <strong>Mensagem para:</strong>
            <p>wpp: xxxx</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="assets/perfil.png" alt="Icone para contato e-mail" width="22px" height="22px">
        <figcaption>
          <a href="#">
            <strong>Mensagem para:</strong>
            <p>wemail: xxx</p>
          </a>
        </figcaption>
      </figure>

    </section>

  </div>
</aside>