:host{
    /* criação de elemento html pelo css */
    &::before{
        content: '';
        display: flex;
        width: 100%;
        height: 150px;
        background: var(--primary);
        margin-bottom: -65px;
    }

    header, aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header{
        img{
            border-radius: 100px;
            border: 5px solid var(--withe);
            margin-bottom: 15px;
        }
    }
    aside{
        p{
            text-align: center;
        }
    }

        nav, ul,section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

    nav{
        margin: 20px 0;
        li{
            a{
                width: 250px;
            }
        }
    }

    section{
        figure{
            width: 335px;
            height: 77px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border: 1px solid var(--withe);
            border-radius: 10px;
        }
        figcaption{
            a{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            }
            p{
                margin: 3px 0;

            }
            strong{
                color: var(--primary);
            }
    }
}

  @media (max-width: 700px) {
     aside nav ul, section{
         flex-direction: column;
        gap: 15px;
        }
   aside{
    nav{
        ul{

            li{&, a{
                width: 100%;
            }
        }}
    }
   }
   section{
        figure{
            width: 100%;
        }
    }
}}
