    :root{
        --primary: #15B255;
        --primary-010: rgb(137, 213, 171);

        --secondary: #0A66C2; 
        --secondary-010: rgb(1, 57, 109);

        --withe: #fff;
        --black : #10101a;
        --black-010 : #2c2c38;

        --grey: #9b9ba0;

        
    }